
<div class="row">
<div class="col-6">

<%= form_with(model: @micropost, local: true) do |f| %>

<% if micropost.errors.any? %>

    <div id ="errors_explanation" class="alert alert-warning">
        <ul class="mb-0">
            
<% micropost.errors.full_messages.each do |msg| %>

        <li>
<%= msg %>
</li>

<% end %>
        </ul>
    </div>
    
<% end %>

<div class="form-group">

<%= f.label :content, '内容' %>

<%= f.text_field :content, class: 'form-control' %>

</div>
  
<%= f.submit '投稿', class: 'btn btn-primary' %>

<% end %>

</div>
</div>